[Unit]
Description=Splash screen
DefaultDependencies=no

[Service]
ExecStart=/bin/bash -c "/usr/bin/pngview /opt/splash.png -b $(if [ $(cat /proc/device-tree/model | awk '{print $3}') == "4" ]; then echo 0x643f; else echo 0x346f; fi)"
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=basic.target

